<div class="bg-white overflow-hidden shadow rounded-lg divide-y divide-gray-200">
  <div class="px-4 py-5 sm:px-6">
    <h3 class="text-lg leading-6 font-medium text-gray-900">{{ post.title }}</h3>
    <p class="mt-1 text-sm text-gray-500">{{post.created_at | date}}</p>
  </div>
  <div class="px-4 py-5 sm:p-6">
    <div>{{post.body}}</div>
    <div *ngIf="post.image_url" class="group aspect-w-2 aspect-h-1 rounded-lg overflow-hidden sm:aspect-h-1 sm:aspect-w-1 sm:row-span-2">
      <img class="object-center object-cover" [src]="post.image_url">
    </div>
  </div>
</div>
