<!--
  This example requires Tailwind CSS v2.0+

  This example requires some changes to your config:

  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
<div class=" border-gray-200 pb-5 flex">
  <div *ngIf="post.body_permission !== 0">
    <h3 class="text-lg font-medium leading-6 text-gray-900">Email Recipients</h3>
    <p class="mt-2 max-w-4xl text-sm text-gray-500 pb-5">Below are your contacts who will receive an email of your post. Update your contacts <a href="/contacts">here.</a></p>
    <comunidad-pill-list #selectedContacts [items]="contacts" [display]="'name'"></comunidad-pill-list>
  </div>
  <comunidad-post-permission-input [preselectedPermission]="post.body_permission" class="hidden lg:block ml-auto mt-auto"
    (changePermissionLevel)="onChangePermissionLevel($event)"></comunidad-post-permission-input>
</div>
<comunidad-post-permission-input [preselectedPermission]="post.body_permission" class="table lg:hidden ml-auto mt-auto"
  (changePermissionLevel)="onChangePermissionLevel($event)"></comunidad-post-permission-input>
<form class="relative" *ngIf="post">
  <div class="border border-gray-300 rounded-lg shadow-sm overflow-hidden ">
    <label for="title" class="sr-only">Title</label>
    <input disabled [(ngModel)]="post.title" type="text" name="title" id="title" class="block w-full border-0 pt-2.5 text-lg font-medium placeholder-gray-500 focus:ring-0" placeholder="Title">
    <label for="description" class="sr-only">Description</label>

      <textarea (ngModelChange)="saveToLocalStorage()" id="textarea" #textarea [(ngModel)]="post.body" name="textarea" rows="8" class=" border-transparent focus:border-transparent focus:ring-0 border-none focus:border-none block p-2.5 w-full text-sm text-gray-900 bg-gray-50 dark:bg-gray-700 dark:placeholder-gray-400 dark:text-white" [placeholder]="writingPrompt"></textarea>
      <img [hidden]="!file" id="uploadedImg" src="#" />
      <img *ngIf="post.image_url && !file" [src]="post.image_url">

    <!-- Spacer element to match the height of the toolbar -->
    <div aria-hidden="true">
      <div class="py-2">
        <div class="h-9"></div>
      </div>
      <div class="h-px"></div>

    </div>
  </div>

  <div class="absolute bottom-0 inset-x-px">
    <div class="border-t border-gray-200 px-2 py-2 flex justify-between items-center space-x-3 sm:px-3">
      <div class="flex">
        <button onclick="file_input.click();" type="button" class="-ml-2 -my-2 rounded-full px-3 py-2 inline-flex items-center text-left text-gray-400 group">
          <!-- Heroicon name: solid/paper-clip -->
          <svg class="-ml-1 h-5 w-5 mr-2 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M8 4a3 3 0 00-3 3v4a5 5 0 0010 0V7a1 1 0 112 0v4a7 7 0 11-14 0V7a5 5 0 0110 0v4a3 3 0 11-6 0V7a1 1 0 012 0v4a1 1 0 102 0V7a3 3 0 00-3-3z" clip-rule="evenodd" />
          </svg>
          <span class="text-sm text-gray-500 group-hover:text-gray-600 italic">Attach a file</span>
          <input type="file" id="file_input" class="hidden" (change)="onFileChange($event)">
        </button>
      </div>
      <div class="flex-shrink-0">
        <span>last saved: {{lastSaved}}</span>
      </div>
    </div>
  </div>
</form>
